
$main-bg: #fff;
$soft-bg: #8080806e;
$dark-bg: #800000;

$main-color: #800000;
$soft-color: #fff;
$dark-color: #000000;

$hover-light: #ffe60044;
$hover-dark: rgba(0,0,0,0.1);

$fire: #800000;
$fire-hover: #8000006c;
$fire-icon: url('../assets/emergencies/fire.png');

$medical: #006e92;
$medical-hover: #006e927c;
$medical-icon: url('../assets/emergencies/medical.png');

$utility: #919191;
$utility-hover: #9191916e;
$utility-icon: url('../assets/emergencies/facilities.png');

$biological: #FF5F1F;
$biological-hover: #ff5f1f65;
$biological-icon: url('../assets/emergencies/biological.png');

$natural: #368364 ;
$natural-hover: #36836471;
$natural-icon: url('../assets/emergencies/natural.png');


$crime: #eca20c;
$crime-hover: #eca10c70;
$crime-icon: url('../assets/emergencies/crime.png');


