@import "../../../../styles/variables.scss";

.view-container {
  display: flex;
  flex-direction: column;
  color: $main-color;
  width: 100%;

  hr {
    border: none;
    border: 1px solid #cccccc52;
    margin: 8px;
  }

  .container-box {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(42px, auto);
    width: 100%;

    .box {
      border-radius: 12px;
      display: flex;
      width: 100%;
      padding: 8px 16px;
      background-color: rgba(245, 245, 220, 0.429);
    }

    .box0 {
      grid-column: 1 / span 4;
      grid-row: 1;
      width: 100%;
      padding: 0;
      background-color: transparent;

      .icon {
        width: 90px;
      }
      .titles {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          &:first-child {
            font-size: 42px;
            font-weight: 900;
            letter-spacing: 1px;
            text-transform: uppercase;
          }
          &:last-child {
            font-size: 16px;
            font-weight: 100;
          }
        }
      }
    }

    //img box
    .box1 {
      grid-column: 1;
      grid-row: 2 / span 4;
      display: flex;
      flex-direction: column;
      align-items: center;
      .image {
        gap: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-transform: capitalize;
        font-weight: bold;
      }
    }
    img {
      border-radius: 12px;
      max-width: 250px;
    }

    //table
    .box2 {
      flex-direction: column;
      grid-column: 2 / span 3;
      grid-row: 2 / span 1;

      .content-table {
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
          display: flex;
          font-size: 16px;
          font-weight: 900;
          text-transform: uppercase;
          width: 100%;
          justify-content: center;
        }

        .user {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        .guardian {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
        ul {
          list-style-type: none;
          :hover{
            letter-spacing: 1 bpx;
          }
          li {
            padding: 4px 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
              border-radius: 4px;
              background-color: rgba(216, 136, 136, 0.716);
              color: white;

            }
          }
        }
      }
    }

    //location
    .box3 {
      grid-column: 2 / span 3;
      grid-row: 3;
      .location {
        gap: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;

        span {
          display: flex;
          font-size: 16px;
          font-weight: 900;
          text-transform: uppercase;
          width: 100%;
          justify-content: center;
        }
        .locationBox {
          display: flex;

          border-radius: 12px;
          background-color: white;

          padding: 2%;
          width: 100%;
        }
      }
    }
    //message
    .box4 {
      grid-column: 2 / span 3;
      grid-row: 4 ;

      .message {
        gap: 12px;
        display: flex;
        flex-direction: column;
        width: 100%;
        span {
          display: flex;
          font-size: 16px;
          font-weight: 900;
          text-transform: uppercase;
          width: 100%;
          justify-content: center;
        }
        .textBox {
          display: flex;

          border-radius: 12px;
          background-color: white;
          min-height: 120px;
          padding: 2%;
          width: 100%;
          overflow-wrap: break-word;
          p {
            width: 100%;
            font-size: 14px;
            font-weight: 100;
            overflow-wrap: break-word;
            word-wrap: break-word;
            white-space: pre-wrap;
          }
        }
      }
    }
    .box5 {
      display: flex;
      grid-column: 2 / span 3;
      justify-content: flex-end;
      align-items: center;
      background-color: transparent;

      .bottonBox {
        display: flex;
        gap: 12px;
      
      }
    }
  }

}
